body {
  font-size: 12pt;
  font-family: "Segoe UI","Arial";
  margin: 0;
  padding: 0;
}

.overlay{
  background-color: #fff;
  position: absolute;
  z-index: 10000000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.8;
}
.overlay img{
  position: absolute;
  left: 30%;
  top: 20%;
}
h1{
    background-color: #0ea3c9;
    margin:0;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    right:0;
    left:0;
    top:0;
    letter-spacing: -3px;
    font-size: 40px;
    font-weight: normal;
    color: #eee;
    padding-left: 20px;
}
h2{
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.3em;
  letter-spacing: -1px;
}
#chart_stats{
  width: 50% !important; 
  float: left;
  background-color: #B3D1FF;
  overflow-y: auto;
}
#chart_stats div{
  width: 94%;
  margin: 0 auto;
  padding-top: 60px;
}
#chart_div{
  width: 50% !important;
  float: right;
}
th{
  text-align: left;
}
h3{
  font-size: 2.5em;
  display: inline-block;
  letter-spacing: -2px;
}
h3 span{
  font-size: 0.7em;
  display: block;
  font-weight: bold;
}
table.innerTable{
  border-collapse: collapse;
}

table.innerTable td, table.innerTable th{
  border: 1px solid #e5efff;
  padding: 8px;
  vertical-align: top;
}
table.innerTable th{
  background-color: #e5efff;
  color: #000;
}
table{
  width: 100%;
}
table td{
  vertical-align: top;
}